################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HealthCheck
/HealthCheck/bin
/HealthCheck/obj
